.masonry-grid {
  display: flex;
  margin-left: -16px; /* Adjust if needed */
  width: auto;
}

.masonry-column {
  padding-left: 16px;
  background-clip: padding-box;
}

.masonry-column > div {
  margin-bottom: 16px;
}
