.my-masonry-grid {
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  margin-left: -1rem; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1rem; /* gutter size */
  background-clip: padding-box;
}

/* optional spacing override (Tailwind gap-x & gap-y do not apply) */
.my-masonry-grid_column > div {
  margin-bottom: 1rem;
}
